.axis {
	shape-rendering: crispEdges;
	stroke: #636363;
}
.axis line {
	stroke: #636363;
	stroke-opacity: .5;
}

.path {
  stroke: #636363;
}

.tick {
  stroke: #636363;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
  stroke-width: 2px;
}

.ticks {
  font: 10px sans-serif;
}

.slider {
	cursor: crosshair;
	pointer-events: stroke;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.6;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.checkbox {
    cursor: crosshair;
    pointer-events: stroke;
}

.optionbox {
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
	fill: #fff;
	cursor: crosshair;
}

.optionborder {
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 2px;
  fill: none;
}

.linkageborder {
  stroke: #000;
  stroke-opacity:; 0.3;
  stroke-width: 2px;
}

.view-border{
	fill: none;
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 1.5px;
}

.inner-border{
	fill: none;
	stroke: #000;
	stroke-opacity: 0.1;
	stroke-width: 1.0px;
}

.chart{
  font: 10px sans-serif;
  background-color: gray;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}